<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../css/Hui.css" />
		<style type="text/css">
			.H-margin-vertical-top-30 {
				margin-top: 185px;
			}
		</style>
	</head>
	<script type="text/html" id="tppl">
		<% for(var i=0; i < list.length; i++){ %>
		<div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-5 H-margin-vertical-bottom-5">
		<img  data-echo="<%=list[i].cover %>" src="../../image/default.jpg" class="H-width-100-percent H-display-block" alt="" title="">
		</div>
		<% } %>
	</script>
	<body class="H-flexbox-vertical">
		<div class="  H-horizontal-center H-theme-background-color-transparent H-overflow-hidden H-position-fixed H-z-index-1000"   >
			<img   src="../../image/timg.jpg" / style="height: 186px;width: 100%; ">
			<div class="H-overflow-hidden H-max-width-100-percent H-padding-horizontal-both-10 H-box-sizing-border-box   "style="position: absolute;top:20px; margin-left: 33%; ">
				<div class="picture H-margin-vertical-top-1 H-position-relative  H-margin-horizontal-auto" style="width: 96px; height: 96px;">
					<span class="H-icon H-display-block H-position-absolute H-center-all H-border-radius-circle H-z-index-1000 H-line-height-0 H-theme-background-color9-active" style="height: 20px; width: 20px; bottom: 5px; right: 5px; "><i onclick="changePerson()" class="H-iconfont H-icon-camera H-theme-font-color-white H-font-size-12 H-vertical-align-middle"></i></span><img id="ico" src="../../image/qq.png" class="H-display-block H-border-radius-circle" alt="" title="" style="width: 90px; height: 90px; border:3px solid rgba(255,255,255,0.3);" />
				</div>
				<div id="name" class="H-display-block H-font-weight-normal H-font-weight-500 H-font-size-18 H-theme-font-color-white H-text-align-center H-margin-vertical-both-8 H-text-show-row-1">
					酷选
				</div>
				<div class="H-font-size-12 H-theme-font-color-white H-text-show-row-1">
					聆听音乐，感悟人生
				</div>
			</div>
		</div>
		<div class=" H-position-fixed H-margin-vertical-top-30 H-flexbox-horizontal H-theme-background-color-white H-z-index-100" id="tag">
			<div tapmode="" onclick="setPage(0, 'me.html');" class="H-flex-item H-center-all H-theme-font-color-666 H-padding-vertical-both-10 H-theme-border-color-white  H-font-size-16 H-theme-border-color-52ace5 H-theme-font-color-52ace5 H-theme-border-color9 H-theme-font-color9" style="border-width: 0 0 2px  0">
				我的圈子
			</div>
			<div tapmode="" onclick="H.openWin('shoucang_head', 'shou_head.html');" class="H-flex-item H-center-all H-theme-font-color-666 H-padding-vertical-both-10 H-theme-border-color-white  H-font-size-16" style="border-width: 0 0 2px  0">
				我的收藏
			</div>
		</div>
		<!--</header>-->
		<div class="H-padding-vertical-bottom-2" style="margin-top: 232px"></div>
		<div id="tppl"  class="result H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box H-padding-horizontal-left-5"></div>
		<script type="text/javascript" src="../../script/H.js"></script>
		<script type="text/javascript" src="../../script/api.js"></script>
		<script type="text/javascript" src="../../script/echo.min.js"></script>
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script type="text/javascript">
			H.tppl_flag = ["<%", "%>"];
			var url = "http://v7idc.com/m/i1.php";
			function getIcon() {
				api.getPrefs({
					key : 'user'
				}, function(ret, err) {
					if (ret) {
						var name = ret.value
						$api.text($api.byId('name'), ret.value);
						api.ajax({
							url : hostUrl + '/userinfo.php',
							dataType : 'json',
							data : {
								values : {
									name : name
								}
							}
						}, function(ret, err) {
							if (ret) {
								var icon = ret[0].pic
								var person = $api.byId('ico');
								$api.attr(person, 'src', icon);
							} else {
							}
						});
					} else {
						api.openFrame({
							name : 'ucenter',
							reload : 'true'
						});
					}
				});
			}

			function changePerson() {
				api.getPicture({
					sourceType : 'library',
					encodingType : 'png',
					mediaValue : 'pic',
					destinationType : 'url',
					allowEdit : true,
					saveToPhotoAlbum : false
				}, function(ret, err) {
					if (ret.data != '') {
						api.showProgress({
							title : ' 上传中...',
							text : '先喝杯茶...',
							modal : false
						}), api.ajax({
							timeout : 300,
							method : 'post',
							url : hostUrl + '/upload.php',
							data : {
								files : {
									upfile : ret.data
								},
							},
							dataType : 'text',
						}, function(ret, err) {
							var ttt = hostUrl + '/' + ret;
							api.hideProgress();
							var person = $api.byId('ico');
							$api.attr(person, 'src', ttt);
							api.ajax({
								url : hostUrl + '/updateicon.php',
								data : {
									values : {
										name : $api.getStorage('user'),
										pic : ttt,
									},
								},
							}, function(ret, err) {
								api.toast({
									msg : '更新成功'
								});
							});
						});
					} else {
						return
					};
				});
			}

			function setStyle(index) {
				var that = H.D("#tag div:nth-child(" + (index + 1) + ")");
				H.addClass(that, "H-theme-border-color9 H-theme-font-color9");
				H.removeClass(H.siblings(that), "H-theme-border-color9 H-theme-font-color9");
			}

			function setPage(index, url) {
				setStyle(index);
				if (H.isAPICloud()) {
					H.setFrameGroupIndex("groups", index, true);
				} else {
					H.D("#H-frame").setAttribute("src", url);
				}
			}


			H.ready(function() {
				getIcon()
				initPage()
				api.addEventListener({
					name : 'reg_login_successEvent'
				}, function(ret, err) {
					getIcon()
				});
				api.addEventListener({
					name : 'zhuxiao'
				}, function(ret, err) {
					getIcon()
				});
			});
			function initPage() {
				api.showProgress({
					title : ' 加载中...',
					text : '先喝杯茶...',
					modal : false
				})
				var username = api.getPrefs({
					sync : true,
					key : 'user'
				});
				api.ajax({
					url : url,
					dataType : 'json',
					data : {
						values : {
							username : username,
						},
					}
				}, function(ret, err) {
					var data = {
						list : ret
					};
					var render = H.tppl(H.D("#tppl").innerHTML);
					H.D(".result").innerHTML = render(data);
					//						懒加载
					echo.init({
						offset : 0,
						throttle : 350,
						unload : false,
						callback : function(element, op) {
						}
					});
				});
				api.hideProgress();
			}
		</script>
	</body>
</html>