<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <title>title</title>
    <link href="../../css/Hui.css" rel="stylesheet" type="text/css" />
    <style>
        .fresh {
            height: 35px;
            width: 100%;
            background-image: url('../../image/loading_more.gif');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 15px 15px;
        }

        .H-font-size-10 {
            font-size: 8px;
        }

        .H-flexbox-horizontal1 {
            display: box;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-flex-flow: row;
            flex-flow: row;
            -webkit-flex-direction: row;
            flex-direction: row;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
    </style>
</head>
<script type="text/html" id="tppl">


    <% for(var i=0; i <6; i++){ %>
        <div class="list H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10  H-margin-vertical-bottom-10" tapmode onclick="openMusicList(<%=playlist[i].id%>)">
            <img src="<%=imageCache(playlist[i].coverImgUrl+'?param=200y200')%>" class=" animated fadeIn H-width-100-percent H-display-block  " style="border-radius: 5px">
            <div class="H-text-align-center H-font-size-10 H-padding-vertical-top-5">
                <%=playlist[i].name%>
            </div>
        </div>
        <% } %>
</script>

<body>
    <div id="body">
        <!-- <div id="index" class="H-display-none" style="  background-color: white;"> -->
        <div id="index" class="" style="  background-color: white;">
            <div style="height: 170px"></div>
            <div class="H-flexbox-horizontal H-text-align-center H-theme-background-color-white H-padding-vertical-top-12 H-padding-vertical-both-10 H-border-vertical-bottom-after">
                <!-- <div class="H-flex-item" tapmode onclick="openjingxuanlist('流行','liuxing')"> -->
                <div class="H-flex-item" tapmode onclick="openDaily()">
                    <span class="H-icon H-center-all H-theme-background-color4 H-border-radius-15 H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-like H-font-size-22 H-theme-font-color-white"></i></span>
                    <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">每日推荐  </label>
                </div>
                <div class="H-flex-item" tapmode onclick="openjingxuanlist('电子','dianzi')">
                    <span class="H-icon H-center-all H-theme-background-color4 H-border-radius-15 H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-music1 H-font-size-22 H-theme-font-color-white"></i></span>
                    <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">电子</label>
                </div>
                <div class="H-flex-item" tapmode onclick="openjingxuanlist('欧美','oumei')">
                    <span class="H-icon H-center-all H-theme-background-color5 H-border-radius-15 H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-music H-font-size-22 H-theme-font-color-white"></i></span>
                    <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">欧美</label>
                </div>
                <div class="H-flex-item" tapmode onclick="openjingxuanlist('华语','huayu')">
                    <span class="H-icon H-center-all H-theme-background-color6 H-border-radius-15 H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-level H-font-size-22 H-theme-font-color-white"></i></span>
                    <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">华语</label>
                </div>
            </div>
            <!-- <div id='toppp' class=" H-border-vertical-bottom-margin-both-10-after  "></div> -->
            <div class="H-channel-title H-flexbox-horizontal H-theme-background-color-white H-vertical-middle  ">
                <div class="H-channel-line H-theme-background-color-red H-padding-vertical-top-15 H-padding-horizontal-left-3  H-margin-horizontal-left-10"></div>
                <div class="H-channel-text H-theme-font-color-red H-flex-item H-font-size-12 H-theme-font-color-black H-padding-10 H-margin-horizontal-right-10 H-text-show-row-1">酷选</div>
                <span class="H-vertical-middle H-theme-font-color-ccc" tapmode onclick="api.openWin({name:'gedanwin',url:'../../html/gedan/gedan_head.html'})"> <label class="H-font-size-13">更多</label> <label class="H-font-size-13 H-iconfont H-icon-arrow-right"></label> </span>
            </div>
            <div id="main" class="test1 H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box H-padding-horizontal-left-10"></div>
            <div class="H-channel-title H-flexbox-horizontal H-theme-background-color-white H-vertical-middle  ">
                <div class="H-channel-line H-theme-background-color-red H-padding-vertical-top-15 H-padding-horizontal-left-3  H-margin-horizontal-left-10"></div>
                <div class="H-channel-text H-theme-font-color-red H-flex-item H-font-size-12 H-theme-font-color-black H-padding-10 H-margin-horizontal-right-10 H-text-show-row-1">排行榜</div>
                <!-- <span class="H-vertical-middle H-theme-font-color-ccc" onclick="api.openWin({name:'gedanwin',url:'../../html/gedan/gedan_head.html'})"> <label class="H-font-size-13">更多</label> <label class="H-font-size-13 H-iconfont H-icon-arrow-right"></label> </span> -->
            </div>
            <div id="tui" class="H-margin-vertical-top-10  H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box H-padding-horizontal-left-10"></div>
            <div class="H-channel-title H-flexbox-horizontal H-theme-background-color-white H-vertical-middle  ">
                <div class="H-channel-line H-theme-background-color-red H-padding-vertical-top-15 H-padding-horizontal-left-3  H-margin-horizontal-left-10"></div>
                <div class="H-channel-text H-theme-font-color-red H-flex-item H-font-size-12 H-theme-font-color-black H-padding-10 H-margin-horizontal-right-10 H-text-show-row-1">推荐歌单</div>
                <!-- <span class="H-vertical-middle H-theme-font-color-ccc" onclick="api.openWin({name:'gedanwin',url:'../../html/gedan/gedan_head.html'})"> <label class="H-font-size-13">更多</label> <label class="H-font-size-13 H-iconfont H-icon-arrow-right"></label> </span> -->
            </div>

            <div id="tuilist" class="H-margin-vertical-top-10  H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box H-padding-horizontal-left-10"></div>
            <div class="H-channel-title H-flexbox-horizontal H-theme-background-color-white H-vertical-middle  ">
                <div class="H-channel-line H-theme-background-color-red H-padding-vertical-top-15 H-padding-horizontal-left-3  H-margin-horizontal-left-10"></div>
                <div class="H-channel-text H-theme-font-color-red H-flex-item H-font-size-12 H-theme-font-color-black H-padding-10 H-margin-horizontal-right-10 H-text-show-row-1">MV</div>
                <!-- <span class="H-vertical-middle H-theme-font-color-ccc" onclick="api.openWin({name:'gedanwin',url:'../../html/gedan/gedan_head.html'})"> <label class="H-font-size-13">更多</label> <label class="H-font-size-13 H-iconfont H-icon-arrow-right"></label> </span> -->
            </div>

            <div id="mvlist" class="H-margin-vertical-top-10  H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box H-padding-horizontal-left-10"></div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/echo.min.js"></script>
<script type="text/javascript" src="../../script/H.js"></script>
<script type="text/javascript" src="../../script/music.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    H.tppl_flag = ["<%", "%>"];
    var wy
    var getinfo = new getinfo()
    var page = 0;
    var datalist;
    var tuilist;
    var initdata
        // 打开歌曲列表
    function openMusicList(lid) {
        api.openWin({
            name: 'musiclist',
            url: '../../html/music/mlist_win.html',
            reload: true,
            slidBackEnabled: false,
            animation: {
                type: "reveal", //动画类型（详见动画类型常量）
                subType: "from_right", //动画子类型（详见动画子类型常量）
                duration: 400 //动画过渡时间，默认300毫秒
            },
            pageParam: {
                lid: lid
            }
        });
    }
    // 热门推荐初始化
    function tui() {
        var data = [{
                idx: 3779629,
                name: "新歌榜",
                pic: "http://p1.music.126.net/N2HO5xfYEqyQ8q6oxCw8IQ==/18713687906568048.jpg?param=320y180",
            }, {
                idx: 3778678,
                name: "热歌榜",
                pic: "http://p1.music.126.net/GhhuF6Ep5Tq9IEvLsyCN7w==/18708190348409091.jpg?param=320y180",
            }, {
                idx: 4395559,
                name: "金曲榜",
                pic: "http://p1.music.126.net/N2whh2Prf0l8QHmCpShrcQ==/19140298416347251.jpg?param=320y180",
            }, {
                idx: 60198,
                name: "美国Billboard周榜",
                pic: "http://p1.music.126.net/EBRqPmY8k8qyVHyF8AyjdQ==/18641120139148117.jpg?param=320y180",
            }

        ];
        uiloading()


        var html = '';
        for (i = 0; i < 4; i++) {
            var lid = data[i].idx;
            var coverImgUrl = imageCache(data[i].pic)
            var tracksName = data[i].name
            html += '<div class="list H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-2 H-padding-horizontal-right-10  H-margin-vertical-bottom-10" tapmode onclick="openMusicList(' + lid + ')">';
            html += '<img     src="' + coverImgUrl + '" class=" animated fadeIn H-width-100-percent H-display-block  " style="border-radius: 5px;height:120px;"    >';
            html += '<div class="H-text-align-center H-font-size-14 H-padding-vertical-top-5">' + tracksName + '</div></div>';
        }
        var tui = $api.byId('tui');
        $api.html(tui, html);

    }

    function findinfo() {

        api.readFile({
            path: api.fsDir + '/cache/indexku.json',
        }, function(ret, err) {
            if (ret.status) {
                var data = $api.strToJson(ret.data)
                var render = H.tppl(H.D("#tppl").innerHTML);
                H.D("#main").innerHTML = render(data);
                getkulist()
            } else {
                getkulist(true)

            }
        });
    }
    function getkulist(update){
        var userId = $api.getStorage('userinfo').userId;
      api.ajax({
          url: musicApi + '/user/playlist?uid=' + userId + '&limit=30',
          cache: true,
      }, function(ret, err) {
         if (ret) {
             if(update){
               var render = H.tppl(H.D("#tppl").innerHTML);
               H.D("#main").innerHTML = render(ret);
             }

              api.writeFile({
                  path: api.fsDir + '/cache/indexku.json',
                  data: ret
              }, function(ret, err) {

              });

          } else {
              //  alert( JSON.stringify( err ) );
          }
      });
    }

    apiready = function() {
        var userinfo = $api.getStorage('userinfo')
        huandeng()
        api.parseTapmode();
        api.setRefreshHeaderInfo({
            loadingImg: 'widget://image/refresh.png',
            visible: true,
            bgColor: '#f2f2f2',
            textColor: '#4d4d4d',
            textDown: '下拉刷新...',
            textUp: '松开刷新...',
            showTime: true
        }, function(ret, err) {
            getkulist(true)
            huandeng()
            api.hideProgress();
            api.refreshHeaderLoadDone();
        });

    };

    function getmvlist() {
        api.readFile({
            path: api.fsDir + '/cache/indexInitMv.json'
        }, function(ret, err) {
            // console.log(JSON.stringify(ret));
            if (ret.status) {
                var data = $api.strToJson(ret.data);
                var html = '';
                for (i = 0; i < data.length; i++) {
                    var vid = data[i].id;
                    var coverImgUrl = imageCache(data[i].cover + '?param=320y180')
                    html += '<div class="list H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-2 H-padding-horizontal-right-10  H-margin-vertical-bottom-5" tapmode onclick="openMv(' + vid + ')">';
                    html += '<img  src1="../../image/default.jpg"    src="' + coverImgUrl + '" class=" animated fadeIn H-width-100-percent H-display-block  " style="border-radius: 5px;height:110px;"    >';
                    html += '<div class="H-text-align-center H-font-size-12 H-padding-vertical-top-5">' + data[i].name.substring(0, 12) + '</div>';

                    html += '<div class="H-text-align-center H-font-size-10 H-padding-vertical-top-2">' + data[i].artistName.substring(0, 18) + '</div></div>';
                }
                var mvlist = $api.byId('mvlist');
                $api.html(mvlist, html);
                api.parseTapmode();
                updataMvList()

            } else {
                updataMvList()

            }


        });
    }
    wy = new neteaseMusic()

    function updataMvList() {
        wy.send(wy.getmvlist(), function(ret, err) {
            if (ret) {
                // console.log(JSON.stringify(ret));
                api.writeFile({
                    path: api.fsDir + '/cache/indexInitMv.json',
                    data: ret.data
                }, function(ret, err) {

                });

                var data = ret.data

                var html = '';
                for (i = 0; i < data.length; i++) {
                    var vid = data[i].id;
                    var coverImgUrl = imageCache(data[i].cover + '?param=320y180')
                        // var tracksName = data[i].name + "-" + data[i].artists[0].name
                    html += '<div class="list H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-2 H-padding-horizontal-right-10  H-margin-vertical-bottom-5" tapmode onclick="openMv(' + vid + ')">';
                    html += '<img  src1="../../image/default.jpg"    src="' + coverImgUrl + '" class=" animated fadeIn H-width-100-percent H-display-block  " style="border-radius: 5px;height:110px;"    >';
                    html += '<div class="H-text-align-center H-font-size-12 H-padding-vertical-top-5">' + data[i].name.substring(0, 12) + '</div>';

                    html += '<div class="H-text-align-center H-font-size-10 H-padding-vertical-top-2">' + data[i].artistName.substring(0, 18) + '</div></div>';
                }
                var mvlist = $api.byId('mvlist');
                $api.html(mvlist, html);
                api.parseTapmode();
            } else {

                api.toast({
                    msg: err.msg,
                    duration: 2000,
                    location: 'bottom'
                });
            }
        });

    }

    function updataMvListData() {
        wy.send(wy.getmvlist(), function(ret, err) {
            if (ret) {
                api.writeFile({
                    path: api.fsDir + '/cache/indexInitMv.json',
                    data: ret.data
                }, function(ret, err) {

                });
            }
        });

    }

    function openMv(vid) {
        api.openWin({
            name: 'mvhead',
            url: '../../html/mv/mv_head.html',
            pageParam: {
                vid: vid
            },
            animation: {
                type: "movein", //动画类型（详见动画类型常量）
                subType: "from_bottom", //动画子类型（详见动画子类型常量）
                duration: 400
            }
        });

    }

    function openjingxuanlist(cat, pinyin) {
        api.openWin({
            name: 'win_' + pinyin,
            url: '../index/j_gedan_head.html',
            pageParam: {
                cat: cat,
                slidBackEnabled: false,
                pinyin: pinyin
            },
            animation: {
                type: "reveal", //动画类型（详见动画类型常量）
                subType: "from_right", //动画子类型（详见动画子类型常量）
                duration: 400 //动画过渡时间，默认300毫秒
            },
        });
    }
    // 首页幻灯
    function huandeng() {

        var huanlist = {}
        var UIScrollPicture = api.require('UIScrollPicture');
        api.ajax({
            url: musicApi + '/banner',

        }, function(ret, err) {
            if (ret) {
                var data = ret.banners
                var paths = []
                    // console.log(JSON.stringify(data));
                for (var i = 0; i < data.length; i++) {
                    paths[i] = imageCache(data[i].picUrl)
                }

                huanlist.paths = paths;
                UIScrollPicture.open({
                    rect: {
                        x: 10,
                        y: 2,
                        w: api.winWidth - 20,
                        h: 170
                    },
                    data: huanlist,
                    styles: {
                        caption: {
                            height: 35,
                            color: '#E0FFFF',
                            size: 13,
                            bgColor: '#696969',
                            position: 'bottom'
                        },
                        indicator: {
                            align: 'right',
                            color: '#FFFFFF',
                            activeColor: '#DA70D6'
                        }
                    },
                    placeholderImg: 'widget://image/default.jpg',
                    contentMode: 'scaleToFill',
                    interval: 3,
                    fixedOn: api.frameName,
                    loop: true,
                    fixed: false
                }, function(ret, err) {
                    // if (ret.eventType == "click") {
                    //     // var lid = initdata.gedanlist[ret.index].idd
                    //         // openMusicList(lid)
                    // } else {
                    //     // alert(JSON.stringify(err));
                    // }
                });
            } else {
                // alert(JSON.stringify(err));
            }
        });

        getmvlist()
        tui()
        findinfo()
        getTuiList()
    }

    function openDaily() {

        if (panduan()) {
            api.openWin({
                name: 'dailymusic',
                url: './dailymusic.html',
                reload: true
            });
        }
    }

    function getTuiList() {
        getinfo.getDengLuInfo('/recommend/resource', function(data) {

            if (data.code == 200) {
                var html = ''
                ret = data.recommend
                    //  console.log( JSON.stringify( ret ) );
                for (i = 0; i < 6; i++) {
                    var Idd = ret[i].id
                    var coverImgUrl = imageCache(ret[i].picUrl + '?param=180y180')
                    var tracksName = ret[i].name
                    html += '<div class="list H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10  H-margin-vertical-bottom-10" tapmode onclick="openMusicList(' + Idd + ')">';
                    html += '<img     src="' + coverImgUrl + '" class=" animated fadeIn H-width-100-percent H-display-block  " style="border-radius: 5px"    >';

                    html += '<div class="H-text-align-center H-font-size-10 H-padding-vertical-top-5">' + tracksName.substring(0, 16) + '</div></div>';

                    stoploading()
                    api.refreshHeaderLoadDone();
                }
                var obj = $api.byId('tuilist');
                $api.html(obj, html);

            } else {
                //  alert( JSON.stringify( data ) );
            }
        })
    }
</script>

</html>
