<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="../../css/Hui.css" />
    <style>
        .zanting {
            width: 20px;
            height: 20px;
            margin-left: -45px;
            margin-top: 25px
        }
    </style>
</head>
<script type="text/html" id="tppl">


    <% for(var i=0; i < list.length; i++){ %>
        <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after" onclick="openPlayer(<%=list[i].id %>,<%=i %>)">
            <div class="H-padding-vertical-both-10"><img data-echo="<%=imageCache(list[i].al.picUrl+'?param=100y100')%>" src="../../image/default.jpg" alt="" title="" class="H-display-block H-margin-horizontal-left-10 H-border-radius-circle animated fadeIn" style="width: 70px; height: 70px;"></div>
            <div class="H-flex-item H-padding-20">
                <strong class="H-font-weight-normal font-weight-500 H-font-size-16 H-display-block"><%=list[i].name %></strong>
                <div class="H-font-size-14 H-theme-font-color-999 H-text-show-row-2 H-margin-vertical-top-5">
                    <%=list[i].ar[0].name %>
                </div>
            </div>

        </div>
        <% } %>
</script>

<body>
    <div class="result" id="list"></div>
</body>
<script type="text/javascript" src="../../script/H.js"></script>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/echo.min.js"></script>
<script type="text/javascript" src="../../script/comm.js"></script>
<script type="text/javascript" src="../../script/music.js"></script>
<!-- <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script> -->


<script type="text/javascript">
    H.tppl_flag = ["<%", "%>"];
    var userId = $api.getStorage('userinfo').id
    var getinfo = new getinfo()

    var data,data1

    function getdata() {
        uiloading();
        api.readFile({
            path: api.fsDir + '/cache/like.json'
        }, function(ret, err) {
            if (ret.status) {
                var data = $api.strToJson(ret.data)
                data1 = {
                    list: data
                };

                var render = H.tppl(H.D("#tppl").innerHTML);
                H.D(".result").innerHTML = render(data1);
                //						懒加载
                echo.init({
                    offset: 0,
                    throttle: 350,
                    unload: false,
                    callback: function(element, op) {}
                });
                stoploading()
                updateinfo()

            } else {
                api.ajax({
                    url: musicApi + '/playlist/detail?id=1317159&limit=50',
                    cache: true
                }, function(ret, err) {
                    if (ret) {
                        data = ret.playlist.tracks
                            // 存储缓存
                        api.writeFile({
                            path: api.fsDir + '/cache/like.json',
                            data: data
                        }, function(ret, err) {

                        });
                        ///
                        data1 = {
                            list: data
                        };
                        var render = H.tppl(H.D("#tppl").innerHTML);
                        H.D(".result").innerHTML = render(data1);
                        //						懒加载
                        echo.init({
                            offset: 0,
                            throttle: 350,
                            unload: false,
                            callback: function(element, op) {}
                        });
                        stoploading()

                    } else {
                        alert(JSON.stringify(err));
                    }
                });

            }
        });



    }

    function updateinfo() {
      api.ajax({
          url: musicApi + '/playlist/detail?id=1317159&limit=50',
          cache: true
      }, function(ret, err) {
          if (ret) {
              data = ret.playlist.tracks
                  // 存储缓存
              api.writeFile({
                  path: api.fsDir + '/cache/like.json',
                  data: data
              }, function(ret, err) {

              });
              ///


          } else {
              alert(JSON.stringify(err));
          }
      });
    }



    H.ready(function() {
        getdata()
       
        api.setRefreshHeaderInfo({
            loadingImg: 'widget://image/refresh.png',
            visible: true,
            bgColor: '#f2f2f2',
            textColor: '#4d4d4d',
            textDown: '下拉刷新...',
            textUp: '松开刷新...',
            showTime: true
        }, function(ret, err) {
              updateinfo()
            api.hideProgress();
            api.refreshHeaderLoadDone();
        });


    });

    function openPlayer(sid, index) {

        if ($api.getStorage('isopen')) {
            api.sendEvent({
                name: 'songid',
                extra: {
                    sid: sid,
                    mlistdata: data,
                    index: index
                }
            });
        } else {
            $api.setStorage('listopen', 3)
            api.openWin({
                name: 'nww',
                url: '../../html/music/bo_head.html',
                slidBackEnabled: false,
                animation: {
                    type: "movein", //动画类型（详见动画类型常量）
                    subType: "from_bottom", //动画子类型（详见动画子类型常量）
                    duration: 500 //动画过渡时间，默认300毫秒
                },
                pageParam: {
                    sid: sid,
                    index: index,
                    mlistdata: data,

                }
            });
        }
    }
</script>

</html>
