<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="../../css/Hui.css" />
    <script type="text/javascript" src="../../script/vue.min.js"></script>

    <style>
        .zanting {
            width: 20px;
            height: 20px;
            margin-left: -45px;
            margin-top: 25px
        }

        .arrow_down {
            display: block;
            background-size: 15px;
            background-repeat: no-repeat;
            background-position: center;
            /*padding: 15px;*/
            -webkit-box-flex: 1;
            -webkit-transform: rotate(180deg);
            -webkit-transition: All .5s ease;
        }

        .arrow_up {
            -webkit-transform: rotate(0deg);
            -webkit-transition: All .5s ease;
        }
    </style>
</head>
<script type="text/html" id="tppl">


    <% for(var i=0; i < list.length; i++){ %>
        <div class=" H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-2 H-padding-horizontal-right-10 H-margin-vertical-bottom-10" onclick="openMusicList(<%=list[i].id %>)">
            <img data-echo="<%=imageCache(list[i].coverImgUrl+'?param=400y400')%>" src="../../image/default.jpg" class=" H-width-100-percent H-display-block H-paper-2" alt="" title="">
            <div class="H-text-align-center H-font-size-12 H-padding-vertical-top-5 H-text-show-row-1">
                <%=list[i].name.substring(0,16) %>
            </div>
        </div>
        <% } %>
</script>

<body id="body">
    <header class="H-header H-theme-background-color-white H-position-fixed H-z-index-100" id="header" style="top:0px;right:0;height:50px">
        <span tapmode="" class="H-icon H-position-relative H-display-inline-block H-float-left H-vertical-middle H-theme-font-color-white H-padding-horizontal-left-5 H-z-index-100" onclick="H.closeWin();"><i class="H-iconfont H-icon-arrow-left H-font-size-18 H-vertical-middle"></i></span>
        <div class="H-header-title H-center-all H-font-size-18 H-text-show-row-1 H-theme-font-color-white H-position-absolute H-width-100-percent">

        </div>
        <span tapmode="" class="H-icon H-position-relative H-display-inline-block H-float-right H-vertical-middle H-theme-font-color-black H-padding-horizontal-right-20 H-z-index-100" onclick="openArrow(this)"><i data-click="0" class="H-iconfont H-icon-arrow-down H-font-size-18 H-vertical-middle"></i></span>
    </header>
    <div class="result H-margin-vertical-top-20 H-padding-horizontal-left-10" id="list" style="margin-top:10px"></div>
</body>
<script type="text/javascript" src="../../script/H.js"></script>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/echo.min.js"></script>
<script type="text/javascript" src="../../script/comm.js"></script>
<script type="text/javascript" src="../../script/music.js"></script>
<!-- <script type="text/javascript"  src="../../script/jquery/jquery.min.js"></script> -->


<script type="text/javascript">
    H.tppl_flag = ["<%", "%>"];
    var userId = $api.getStorage('userinfo').id
    var data, data1, catindex

    var app = new Vue({
        el: "#body",
        data: {
            index: 0,
            cat: '流行',
            menulength: '',
            menudata: [],
            listdata: [],
            page: 1
        },
        watch: {
            index(curVal, oldVal) {
                // console.log(curVal);　
                this.cat = 　this.menudata[curVal].title
                this.page = 1
                getdata()
                if (curVal == 0) {
                    api.setFrameGroupAttr({
                        name: 'groups',
                        scrollEnabled: true
                    });
                } else {
                    api.setFrameGroupAttr({
                        name: 'groups',
                        scrollEnabled: false
                    });
                }

                　　　　　
            }
        },
        methods: {


        }
    })


    function getdata() {
        // uiloading();

        api.ajax({
            url: musicApi + '/top/playlist?limit=30&order=hot&cat=' + app.cat + '&offset=' + (app.page - 1) * 30,
            cache: true,
        }, function(ret, err) {

            if (ret) {
                // console.log(JSON.stringify(ret));

                data = ret.playlists
                data1 = {
                    list: data
                };
                var render = H.tppl(H.D("#tppl").innerHTML);
                H.D(".result").innerHTML = render(data1);
                //						懒加载
                echo.init({
                    offset: 0,
                    throttle: 350,
                    unload: false,
                    callback: function(element, op) {}
                });
                stoploading()

                // $api.removeCls($api.byId('body'), 'H-display-none');


            } else {
                alert(JSON.stringify(err));
            }
        });

    }

    function getcatlist() {

        getCache('menudata', 'list', function(ret, err) {
            if (ret.data) {
                var data = $api.strToJson(ret.data)

                app.menudata = data.filter(function(s) {
                    return s.select == true
                })
                app.menulength = app.menudata.length
                start()
            } else {
                api.ajax({
                    url: musicApi + '/playlist/catlist',
                }, function(ret, err) {

                    if (ret) {
                        var data = []
                        for (var i = 0; i < ret.sub.length; i++) {
                            var list = {}
                            list.title = ret.sub[i].name
                            list.bgSelected = '#eee',
                                list.bg = '#fff',
                                list.select = true
                                //     list.active = 'fs://menu/0.acitve.png',
                                //     list.highlight = 'fs://menu/0.highlight.png'

                            data[i] = list
                        }
                        // console.log(JSON.stringify(ret));
                        app.menudata = data
                        app.menulength = data.length
                        saveCache('menudata', 'list', data)
                        start()
                    } else {
                        alert(JSON.stringify(err));
                    }
                });
            }
        })






    }

    function start() {
        getdata()
        var NVNavigationBar = api.require('NVNavigationBar');
        NVNavigationBar.open({
            rect: {
                x: 0,
                y: 0,
                w: api.winWidth - 50,
                h: 50
            },
            styles: {
                orientation: 'horizontal',
                bg: '#f5f5f5',
                bgAlpha: 1,
                font: {
                    size: 14,
                    sizeSelected: 18,
                    color: '#888',
                    colorSelected: '#ff0000',
                    alpha: 1,
                    // bold:true,
                },
                itemSize: {
                    w: 90,
                    h: 44
                }
            },
            items: app.menudata,
            selectedIndex: 0,
            fixedOn: api.frameName,
            id: 'first'
        }, function(ret, err) {
            // console.log(ret.index);i
            app.index = ret.index ? ret.index : app.index

            // getdata(app.menudata[catindex].title)
            app.cat = app.menudata[app.index].title
            getdata()
        });
    }



    H.ready(function() {
        getcatlist()
        api.setFrameAttr({
            name: api.frameName,

            bounces: false,

        });



        // api.setRefreshHeaderInfo({
        //     loadingImg: 'widget://image/refresh.png',
        //     visible: true,
        //     bgColor: '#f2f2f2',
        //     textColor: '#4d4d4d',
        //     textDown: '下拉刷新...',
        //     textUp: '松开刷新...',
        //     showTime: true
        // }, function(ret, err) {
        //     app.page=1
        //     getcatlist()
        //     api.hideProgress();
        //     api.refreshHeaderLoadDone();
        // });
        api.addEventListener({
            name: 'scrolltobottom',
            extra: {
                threshold: 150 //设置距离底部多少距离时触发，默认值为0，数字类型
            }
        }, function(ret, err) {
            app.page++
                loadmore()


        });

        api.addEventListener({
            name: 'swipeleft'
        }, function(ret, err) {
            if (app.index == app.menulength - 1) {
                app.index = 0
            } else {
                app.index = app.index + 1
            }
            var NVNavigationBar = api.require('NVNavigationBar');
            NVNavigationBar.setSelected({
                id: 'first',
                index: app.index,
                selected: true
            }, function(ret) {
                // alert(JSON.stringify(ret));
            });
            getdata()

        });
        api.addEventListener({
            name: 'swiperight'
        }, function(ret, err) {
            if (app.index == 0) {
                api.setFrameGroupAttr({
                    name: 'groups',
                    scrollEnabled: true
                });
            } else {
                app.index = app.index - 1
                api.lockSlidPane();
            }
            var NVNavigationBar = api.require('NVNavigationBar');
            NVNavigationBar.setSelected({
                id: 'first',
                index: app.index,
                selected: true
            }, function(ret) {
                // alert(JSON.stringify(ret));
            });
            getdata()
        });

    });


    // 打开歌曲列表
    function openMusicList(lid) {
        api.openWin({
            name: 'musiclist',
            url: '../../html/music/mlist_win.html',
            reload: true,
            slidBackEnabled: false,
            animation: {
                type: "reveal", //动画类型（详见动画类型常量）
                subType: "from_right", //动画子类型（详见动画子类型常量）
                duration: 400 //动画过渡时间，默认300毫秒
            },
            pageParam: {
                lid: lid
            }
        });
    }

    function loadmore() {
        uiloading();

        api.ajax({
            url: musicApi + '/top/playlist?limit=30&order=hot&cat=' + app.cat + '&offset=' + (app.page - 1) * 30,
            cache: true,
        }, function(ret, err) {

            if (ret) {
                // console.log(JSON.stringify(ret));

                data = ret.playlists
                data1 = {
                    list: data
                };
                var render = H.tppl(H.D("#tppl").innerHTML);
                H.append((".result"), null, render(data1));
                //						懒加载
                echo.init({
                    offset: 0,
                    throttle: 350,
                    unload: false,
                    callback: function(element, op) {}
                });
                stoploading()

                // $api.removeCls($api.byId('body'), 'H-display-none');


            } else {
                alert(JSON.stringify(err));
            }
        });



    }

    function openArrow(button) {
        button = $api.first(button)
        if ($api.attr(button, 'data-click') == 0) {
            $api.attr(button, 'data-click', 1)
            $api.removeCls(button, 'arrow_up')
            $api.addCls(button, 'arrow_down');
            api.openFrame({
                name: 'menudata',
                url: 'fenlei.html',
                rect: {
                    x: 0,
                    y: 163,

                },
                pageParam: {
                    name: 'test'
                },
                animation: {

                    type: "push", //动画类型（详见动画类型常量）
                    subType: "from_bottom", //动画子类型（详见动画子类型常量）
                    duration: 300 //动画过渡时间，默认300毫秒

                },
                bounces: false,
                bgColor: 'rgba(0,0,0,0)',
                vScrollBarEnabled: true,
                hScrollBarEnabled: true
            });

        } else {
            $api.attr(button, 'data-click', 0)
            $api.removeCls(button, 'arrow_down')
            $api.addCls(button, 'arrow_up');
            api.closeFrame({
                name: 'menudata'
            });

        }


    }
</script>

</html>
